* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background: #fff;
  padding: 0 150px;
}

main .page-title {
  font-size: 40px;
  padding: 50px 0;
  text-align: flex-start;
}

main .content {
  display: flex;
}

section {
  flex: 1;
}
aside {
  min-width: 450px;
  margin-left: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead tr {
  border-bottom: 3px solid #eee;
}

thead th {
  text-align: left;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #666;
}

tbody tr {
  border-bottom: 3px solid #eee;
}

tbody td {
  padding: 30px 0;
}
