.produto {
  display: flex;
  align-items: center;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 6px;
}

.infos {
  margin-left: 20px;
}

.nome {
  font-size: 24px;
  font-weight: bold;
}

button {
  background: none;
  border: none;
}
