.produto {
  display: flex;
  align-items: center;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 6px;
}

.infos {
  margin-left: 20px;
}

.nome {
  font-size: 24px;
  font-weight: bold;
}

.descricao {
  width: 450px;
  font-size: 14px;
}

.remove {
  background: none;
  border: none;
}
